<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détail de la réservation</title>
    <meta name="description" content="Gestion des catways et des réservations du port de plaisance Russell.">

     <link rel="icon" type="image.png" href="images/favicon.png">
     <link rel="stylesheet" href="/stylesheets/style.css">
</head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/app/users">Utilisateur</a></li>
                    <li><a href="/app/catways">Catways</a></li>
                    <li><a href="/app/reservations">Réservation</a></li>
                    <li><a href="/documentation">Documentation</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>

    <main>
        <h2>Détail de la réservation</h2> <!--tableau details reservation-->

            <table>
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Bateau</th>
                        <th>Date début</th>
                        <th>Date fin</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <input type="text" id="clientName-<%= reservation._id %>" value="<%= reservation.clientName %>">
                        </td>
                        <td>
                            <input type="text" id="boatName-<%= reservation._id %>" value="<%= reservation.boatName %>">
                        </td>
                        <td>
                            <input type="date" id="startDate-<%= reservation._id %>" value="<%= reservation.startDate ? new Date(reservation.startDate).toISOString().split('T')[0] : '' %>">
                        </td>
                        <td>
                            <input type="date" id="endDate-<%= reservation._id %>" value="<%= reservation.endDate ? new Date(reservation.endDate).toISOString().split('T')[0] : '' %>">
                        </td>
                        <td>
                            <button onclick="updateReservation('<%= reservation._id %>', '<%= reservation.catwayNumber %>')">Modifier</button>

                            <button onclick="deleteReservation('<%= reservation._id %>', '<%= reservation.catwayNumber %>')">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        <a class="back" href="/app/reservations">Retour</a>
    </main>
    <footer>
        <small>© 2026 - Application Port de Plaisance Russell</small>
    </footer>
    <script src="/javascripts/reservation.js"></script>
</body>
</html>