<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une API pour le Port de Plaisance Russell</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/users">Utilisateur</a></li>
                <li><a href="/catways">Catways</a></li>
                <li><a href="/reservations">Réservation</a></li>
            </ul>
        </nav>
    </header>

    <main>
       <h2>Réservations</h2>

<table border="1">
  <thead>
    <tr>
      <th>Catway</th>
      <th>Client</th>
      <th>Bateau</th>
      <th>Date début</th>
      <th>Date fin</th>
    </tr>
  </thead>
  <tbody>
    <% reservations.forEach(reservation => { %>
      <tr>
        <td><%= reservation.catwayNumber %></td>
        <td><%= reservation.clientName %></td>
        <td><%= reservation.boatName %></td>
        <td><%= new Date(reservation.startDate).toLocaleDateString('fr-FR') %></td>
        <td><%= new Date(reservation.endDate).toLocaleDateString('fr-FR') %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
    </main>
    
</body>
</html>