<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une API pour le Port de Plaisance Russell</title>
    <meta name="description" content="Gestion des catways et des réservations du port de plaisance Russell.">

     <link rel="icon" type="image.png" href="images/favicon.png">
     <link rel="stylesheet" href="/stylesheets/style.css">
</head>

    <body>
      <header>
          <nav>
              <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/app/users">Utilisateur</a></li>
                <li><a href="/app/catways">Catways</a></li>
                <li><a href="/app/reservations">Réservation</a></li>
                <li><a href="/documentation">Documentation</a></li>
                <li><a href="/logout">Déconnexion</a></li>
              </ul>
          </nav>
      </header>

      <main>
        <h2>Liste de réservations</h2> <!--tableau de toute les reservation-->

        <table>
          <thead>
            <tr>
              <th>Voir</th>
              <th>Catway</th>
              <th>Client</th>
              <th>Bateau</th>
              <th>Date début</th>
              <th>Date fin</th>
            </tr>
          </thead>

          <tbody>
            <% reservations.forEach(reservation => { %>
            <tr>
              <td><a href="/app/reservations/<%= reservation._id %>">Voir</a></td>
              <td><%= reservation.catwayNumber %></td>
              <td><%= reservation.clientName %></td>
              <td><%= reservation.boatName %></td>
              <td><%= new Date(reservation.startDate).toLocaleDateString('fr-FR') %></td>
              <td><%= new Date(reservation.endDate).toLocaleDateString('fr-FR') %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </main>
      <footer>
        <small>© 2026 - Application Port de Plaisance Russell</small>
      </footer>
    
    </body>
</html>