<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détail utilisateur</title>
    <meta name="description" content="Gestion des catways et des réservations du port de plaisance Russell.">

     <link rel="icon" type="image.png" href="images/favicon.png">
     <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/app/users">Utilisateur</a></li>
                <li><a href="/app/catways">Catways</a></li>
                <li><a href="/app/reservations">Réservation</a></li>
                <li><a href="/documentation">Documentation</a></li>
                <li><a href="/logout">Déconnexion</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Détail utilisateur</h2> <!-- detail de l'utilisateur les fonction modifier et supprimer fonctionne si c'est l'utitilisateur connecter qui modifie son compte-->

            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Mot de passe</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><% if (userItem.email === connectedEmail) { %>
                            <input type="text" id="username-<%= userItem._id %>" value="<%= userItem.username %>">
                            <% } else { %> <%= userItem.username %> <% } %></td>

                        <td><%= userItem.email %></td>

                        <td><% if (userItem.email === connectedEmail) { %>
                            <input type="password" id="password-<%= userItem._id %>" placeholder="Nouveau mot de passe">
                            <% } else { %>-<% } %> </td>
                        
                        <td><% if (userItem.email === connectedEmail) { %>
                            <button onclick="updateUser('<%= userItem.email %>', '<%= userItem._id %>')">Modifier</button>
                            <button onclick="deleteUser('<%= userItem.email %>')">Supprimer</button>
                            <% } else { %>-<% } %></td>
                    </tr>
                </tbody>
            </table>
        <a class="back" href="/app/users">Retour</a>
    </main>
    <footer>
        <small>© 2026 - Application Port de Plaisance Russell</small>
    </footer>
    <script src="/javascripts/user.js"></script>
</body>
</html>